<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">Let's play a game...</h1>
    <p class="lead">Here you will guess the number that I am thinking! You will have 7 guesses and if you lose, your computer will explode! No pressure!</p>
    <hr class="my-4">
    <p>Click the button below to start the game!</p>
    <a class="btn btn-primary btn-lg" href="/start" role="button">Start</a>
    </div>
</div>